.book-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-details-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafcfc;
}

.star {
  color: yellow;
  margin-right: 3px;
  margin-left: 5px;
}
.book-details-top-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.book-title-details {
  position: relative;
  top: 10px;
  font-size: 20px;
  width: 100%;
}
.book-author-details {
  position: relative;
}
.book-rating-details {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
}
.book-status-details {
  position: relative;
  top: -10px;
}
span {
  color: blue;
}
.book-details-image {
  height: 300px;
  border-radius: 10px;
}
.details-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
}
.loader-container {
  margin: auto;
  margin-top: 20vh;
  align-self: center;
}

.try-again-btn {
  color: white;
  background-color: #0284c7;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 800px) {
  .book-details-top-section {
    flex-direction: column;
  }
  .single-book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book-details-image {
    height: 200px;
  }
  .book-details-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0px 1px 4px 0px #939491;
  }
}
@media (min-width: 801px) {
  .book-details-card {
    background-color: #ffffff;
    max-width: 80%;
    padding: 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0px 1px 4px 0px #939491;
  }
}
