.book-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 80%;
}
.book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  padding: -10px;
}
.star {
  color: yellow;
  margin-right: 3px;
}
.book-image {
  height: 220px;
  width: 170px;
  border-radius: 20px;
}

.book-title {
  position: relative;
  top: 10px;
  font-size: 20px;
  width: 80%;
}
.book-author {
  position: relative;
  top: -10px;
}
.book-rating {
  position: relative;
  top: -25px;
}
.book-status {
  position: relative;
  top: -40px;
}
span {
  color: blue;
}

@media (max-width: 800px) {
  .book-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    max-width: 100%;
    margin: 10px;
  }
}
