.footer {
  background-color: #fafcfc;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  padding: 10px;
}
