.top-books-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.home-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.top-books-container {
  background-color: #ffffff;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-books-slick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-books-section {
  background-color: #fafcfc;
  padding: 10px;
}
.render-books {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container,
Loader {
  margin: auto;
}

@media (max-width: 800px) {
  .find-books-mobile {
    color: white;
    background-color: #0284c7;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
  .find-books {
    display: none;
  }
  .top-books-container {
    flex-direction: column;
  }
  .home-page-para {
    text-align: center;
  }
}

@media (min-width: 801px) {
  .find-books {
    color: white;
    background-color: #0284c7;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
  .find-books-mobile {
    display: none;
  }
  .home-page-heading {
    align-self: flex-start;
    margin-left: 10%;
  }
  .home-page-para {
    align-self: flex-start;
    margin-left: 10%;
    font-size: 20px;
    width: 80%;
  }
}
